/*global styles*/

.cousine { font-family: 'Cousine', monospace; }
.preto { font-family: 'Preto', serif; }
h1 { font-size: 3.5rem;  margin: 0; font-weight: normal;}
h3 { font-size: 1.35rem;  margin: 0; letter-spacing: .1rem; font-weight: 700;}

body{
	right: 0; left: 0;
	margin: auto auto;
	
	overflow-x: hidden;

}

.fixed {
	width: inherit;
	position: fixed; top: 1rem;
	margin: auto auto;
	height: 10rem;
	/*height: 300px;*/
}
	#fixedfg{ z-index: 2; }
	#fixedbg{  }

.myface {
	position: absolute;
	margin: 0;
	border-radius: 50%;
	width: 10rem; height: 10rem;
	background-image: url(../assets/itme.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 2rem;
		/*hacky HA enabling, for desktop browsers*/
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
}
	.myface#facebg{	background-color: black;}
	.myface#facebg::before, .myface#bg::after{ content: ''; position: absolute; z-index: 1;}

#abt {
	position: fixed;
	width: inherit;
	right: 0; left: 0; margin: 0rem auto 0 auto;
}
	#fixedbg #text {
	display: flex; justify-content: space-between;
	width: inherit;
}
#hello{
	position: relative;
	align-self: center;
}
#abtme {
	align-self: center;
	text-align: right;
}

video {
	visibility: hidden; 
	position: absolute; 
	width: inherit;
	z-index: 1;
}
#videocaption{
	color: rgba(0,0,0,0);
	position: absolute;
	z-index: 3;
}
	#videocaption p{
		visibility: hidden;
		color: white;
		text-align: right;
		position: absolute;
	}
	#videocaption p:first-child{
		visibility: visible;
	}

#work {
	visibility: hidden;
	position: fixed; 
	width: inherit;
}
	#work #dream{
		bottom: 0;
	}

.project, .project .picvid{
	position: absolute;
	transform-origin: 0% 0%;
	overflow: hidden;
}
	.project { background-color: rgba(255,255,255,0); }

	.project .picvid {
		background-color: black;
		z-index: 1;
	}
	.project .info {
		visibility: hidden;
		position: absolute;
		right: 0; top: 0;
		transform-origin: 0 0;
			transform: translateX(100%);
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			-o-transform: translateX(100%);
	}
		.info p{
			padding: .3rem .45rem;
			margin: 0;
		}
			.info p:first-child{
				padding-top: .5rem;
			}
